<!DOCTYPE HTML>
<html lang="en-US">
<head>
    <meta charset="UTF-8">
    <title>Socialike</title>
    <link rel="shortcut icon" type="image/x-icon" href="style/images/favicon.png" />
    <link rel="stylesheet" type="text/css" href="style.css" media="all" />
    <link rel="stylesheet" type="text/css" href="style/css/prettyPhoto.css"  />
    <link rel="stylesheet" type="text/css" href="style/type/classic.css" media="all" />
    <link rel="stylesheet" type="text/css" href="style/type/goudy.css" media="all" />
    <script type="text/javascript" src="style/js/jquery-1.6.2.min.js"></script>
    <script type="text/javascript" src="style/js/superfish.js"></script>
    <script type="text/javascript" src="style/js/jquery.prettyPhoto.js"></script>
</head>
<body>
<div id="body-wrapper">
    <!-- Begin Header -->
    <div id="header">
        <div class="logo">
            <a href="index.html"><img src="style/images/logo.png" alt="" /></a>
        </div>


        <!-- Begin Menu -->
        <div class="menu">
            <ul class="sf-menu">
                <li><a href="index.html">地图</a></li>
                <li><a href="story_list.html">故事</a></li>
                <li><a href="gallery.html">展示</a></li>
                <li><a href="share.html">分享</a></li>
                <li><a href="#">登录/注销</a></li>
            </ul>
        </div>
        <div class="clear"></div>
        <!-- End Menu -->

    </div>
    <!-- End Header -->



    <!-- Begin Wrapper -->
    <div id="wrapper">
        <div class="intro">Phasellus vitae lectus sit amet ipsum fringilla viverra at et leo. Cras iaculis, sem vel venenatis sodales, elit dui elementum lorem, ut semper ligula ipsum at sapien.</div>
        <!-- Begin Container -->
        <div class="container">

            <div class="post text">
                <div class="content">
                    <div class="top"></div>
                    <div class="middle">
                        <div class="post-text">
                            <h2 class="title">标题</h2>
                            <p>Cras adipiscing fringilla gravida. Quisque lectus nisl, blandit dictum aliquam vel, porttitor sit amet quam. Donec sed mauris ante, commodo purus. Nunc condimentum, sapien a aliquet elementum, dui neque facilisis arcu,eu cursus nunc velit at orci. Nunc congue, nisi sed elementum aliquam,</p>
                                <img src="style/images/art/1.jpg" class="article_img">
                            <p>Cras adipiscing fringilla gravida. Quisque lectus nisl, blandit dictum aliquam vel, porttitor sit amet quam. Donec sed mauris ante, commodo purus. Nunc condimentum, sapien a aliquet elementum, dui neque facilisis arcu,eu cursus nunc velit at orci. Nunc congue, nisi sed elementum aliquam,</p>
                            <br>
                            <p>Cras adipiscing fringilla gravida. Quisque lectus nisl, blandit dictum aliquam vel, porttitor sit amet quam. Donec sed mauris ante, commodo purus. Nunc condimentum, sapien a aliquet elementum, dui neque facilisis arcu,eu cursus nunc velit at orci. Nunc congue, nisi sed elementum aliquam,</p>
                            <br>
                        </div>
                    </div>
                    <div class="bottom"></div>
                </div>
            </div>
            <!-- Begin Comments Section -->
            <!-- Begin Comments -->

            <h3 class="line">评论</h3>

            <!-- Begin Comments -->
            <div id="comments">
                <ol id="singlecomments" class="commentlist">
                    <li class= "clearfix">
                        <div class="user"><img alt="" src="style/images/art/ad1.jpg" height="48" width="48" class="avatar" />reply</div>
                        <div class="message">
                            <div class="info">
                                <h4>Isabel</a></h4>
                                <span class="date">April 4, 2010</span></div>
                            <p>Quisque tristique tincidunt metus non aliquam. Quisque ac risus sit amet quam sollicitudin vestibulum vitae malesuada libero. Mauris magna elit, suscipit non ornare et, blandit a tellus. Pellentesque dignissim ornare elit, quis mattis eros sodales ac.</p>
                        </div>
                        <div class="clear"></div>
                    </li>
                </ol>
            </div>
            <!-- End Comments -->

            <!-- Begin Form -->
            <div class="comment-form">
                <h3 class="line">发表评论</h3>
                <div class="form-container">
                    <form class="forms" action="#" method="post">
                        <fieldset>
                            <ol>
                                <li class="form-row text-area-row">
                                    <label>Message</label>
                                    <textarea name="message" class="text-area required"></textarea>
                                </li>
                                <li class="form-row hidden-row">
                                    <input type="hidden" name="hidden" value="" />
                                </li>
                                <li class="button-row">
                                    <input type="submit" value="Submit" name="submit" class="btn-submit" />
                                </li>
                            </ol>
                            <input type="hidden" name="v_error" id="v-error" value="Required" />
                            <input type="hidden" name="v_email" id="v-email" value="Enter a valid email" />
                        </fieldset>
                    </form>
                    <div class="response"></div>
                </div>
            </div>
            <!-- End Form -->

            <!-- End Comments -->
            <!-- End Comments Section -->
        </div> <!-- End Container -->

        <div class="sidebar">

            <div class="sidebox">
                <h3 class="line">Popular Posts</h3>
                <ul class="popular-posts">
                    <li>
                        <a href="#"><img src="style/images/art/ad1.jpg" alt="" /></a>
                        <h5><a href="#">Dolor Commodo Consectetur</a></h5>
                        <span>时间</span>
                    </li>

                    <li>
                        <a href="#"><img src="style/images/art/ad2.jpg" alt="" /></a>
                        <h5><a href="#">Dolor Commodo Consectetur</a></h5>
                        <span>时间</span>
                    </li>

                    <li>
                        <a href="#"><img src="style/images/art/ad3.jpg" alt="" /></a>
                        <h5><a href="#">Dolor Commodo Consectetur</a></h5>
                        <span>时间</span>
                    </li>
                </ul>
            </div>




            <div class="sidebox">
                <h3 class="line">Search</h3>
                <form class="searchform" method="get">
                    <input type="text" id="s" name="s" value="type and hit enter" onfocus="this.value=''" onblur="this.value='type and hit enter'"/>
                </form>
            </div>

        </div>
        <div class="clear"></div>

    </div>
    <!-- End Wrapper -->

    <div class="push"></div>
</div>
<!-- End Body Wrapper -->
<div id="footer">
    <div class="footer">
        <p>Copyright &copy;xxxx</p>
    </div>
</div>
<script type="text/javascript" src="style/js/scripts.js"></script>
<script type="text/javascript">
    var maxWidth = 450, maxHeight = 300;
    var images = document.getElementsByClassName("article_img");
    for (var i=0; i<images.length; i++) {
       var image = new Image();
       image.src = images[i].src;
       if (image.width < maxWidth && image.height < maxHeight) {
           images[i].width = image.width;
           images[i].height = image.height;
       }
       else {
           if (maxWidth / maxHeight <= image.width / image.height) {
               images[i].width = maxWidth;
               images[i].height = maxHeight;
           }
           else {
               images[i].width = maxHeight * (image.width / image.height)
               images[i].height = maxHeight;
           }
       }
    }
</script>
</body>
</html>