<!DOCTYPE HTML>
<html lang="en-US">
<head>
<meta charset="UTF-8">
<title>Socialike</title>
<link rel="shortcut icon" type="image/x-icon" href="style/images/favicon.png" />
<link rel="stylesheet" type="text/css" href="style.css" media="all" />
<link rel="stylesheet" type="text/css" href="style/css/prettyPhoto.css"  />
<link rel="stylesheet" type="text/css" href="style/type/classic.css" media="all" />
<link rel="stylesheet" type="text/css" href="style/type/goudy.css" media="all" />
<script type="text/javascript" src="style/js/jquery-1.6.2.min.js"></script>
<script type="text/javascript" src="style/js/superfish.js"></script>
<script type="text/javascript" src="style/js/jquery.prettyPhoto.js"></script>
</head>
<body>
<div id="body-wrapper"> 
  <!-- Begin Header -->
  <div id="header">
    <div class="logo">
      <a href="index.html"><img src="style/images/logo.png" alt="" /></a>
    </div>

    
    <!-- Begin Menu -->
      <div class="menu">
          <ul class="sf-menu">
              <li><a href="index.html">地图</a></li>
              <li><a href="story_list.html">故事</a></li>
              <li><a href="gallery.html">展示</a></li>
              <li><a href="share.html">分享</a></li>
			  <li><a href="#">登录/注销</a></li>
          </ul>
      </div>
    <div class="clear"></div>
    <!-- End Menu --> 
    
  </div>
  <!-- End Header --> 
  
  
  
  <!-- Begin Wrapper -->
 <div id="wrapper">
    <div class="intro">Phasellus vitae lectus sit amet ipsum fringilla viverra at et leo. Cras iaculis, sem vel venenatis sodales, elit dui elementum lorem, ut semper ligula ipsum at sapien.</div>
  	<!-- Begin Container -->
  	<div class="container">

        <div class="post text">
        <div class="icon-text"></div>
        <div class="content">
        	<div class="top"></div>
        	<div class="middle">
        		<div class="post-text">
        			<h2 class="title"><a href="story.html">标题</a></h2>
        			<p>Cras adipiscing fringilla gravida. Quisque lectus nisl, blandit dictum aliquam vel, porttitor sit amet quam. Donec sed mauris ante, commodo purus. Nunc condimentum, sapien a aliquet elementum, dui neque facilisis arcu, 				eu cursus nunc velit at orci. Nunc congue, nisi sed elementum aliquam,
	    			<br /><br />
	    			Etiam condimentum lacinia bibendum. Sed tempor feugiat purus, idetsen dapibus eros sagittis sed nulla lacina. Pellentesque habitant morbi laciros.
	    			</p>
        		</div>
        		<div class="meta-wrapper">
	    		<div class="meta">
        			<ul class="post-info">
        				<li><span class="post-link"></span><a href="#">时间</a></li>
        				<li><span class="post-tag"></span><a href="#">作者</a></li>
        			</ul>
        			<div class="share"><span class="post-share"></span><a href="#">Share</a></div>
        			<div class="clear"></div>
        		</div>
        		</div>
        	</div>
        	<div class="bottom"></div>
        </div>
        </div>
        <!-- Begin Page Navi -->
        <div class="page-navi">
        		<ul>
        			<li><a href="#" class="current">1</a></li>
        			<li><a href="#">2</a></li>
        			<li><a href="#">3</a></li>
        		</ul>
        </div>
        <!-- End Page Navi -->
	</div> <!-- End Container -->
	
	<div class="sidebar">

		<div class="sidebox">
			<h3 class="line">Popular Posts</h3>
			<ul class="popular-posts">
				<li>
					<a href="#"><img src="style/images/art/ad1.jpg" alt="" /></a>
					<h5><a href="#">Dolor Commodo Consectetur</a></h5>
                    <span>时间</span>
				</li>

				<li>
					<a href="#"><img src="style/images/art/ad2.jpg" alt="" /></a>
					<h5><a href="#">Dolor Commodo Consectetur</a></h5>
                    <span>时间</span>
				</li>

				<li>
					<a href="#"><img src="style/images/art/ad3.jpg" alt="" /></a>
					<h5><a href="#">Dolor Commodo Consectetur</a></h5>
                    <span>时间</span>
				</li>
			</ul>
		</div>




		<div class="sidebox">
			<h3 class="line">Search</h3>
			<form class="searchform" method="get">
          		<input type="text" id="s" name="s" value="type and hit enter" onfocus="this.value=''" onblur="this.value='type and hit enter'"/>
        	</form>
		</div>
		
	</div>
    <div class="clear"></div>
    
  </div>
  <!-- End Wrapper -->
  
  <div class="push"></div>
</div>
<!-- End Body Wrapper -->
<div id="footer">
    <div class="footer">
        <p>Copyright &copy;xxxx</p>
    </div>
</div>
<script type="text/javascript" src="style/js/scripts.js"></script>
</body>
</html>